.GameOfLife {
  text-align: left;
  border-right:1px solid black;
  border-bottom:1px solid black;
  line-height:0;
}

.Cell {
  display:inline-block;
  box-sizing:border-box;
  border:1px solid black;
  border-right:none;
  border-bottom:none;
  margin:0;
  padding:0;
}

.Cell:hover {
  background-color:#777;
}

.Cell.populated {
  background:black;
}

.Cell.populated:hover {
  background-color:#f20000;
  background-image:url(./skull.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;
}
