.GameOfLife {
  text-align: left;
  border-right:1px solid black;
  border-bottom:1px solid black;
  line-height:0;
}

.Cell {
  display:inline-block;
  width:20px;
  height:20px;
  box-sizing:border-box;
  border:1px solid black;
  border-right:none;
  border-bottom:none;
  margin:0;
  padding:0;
}

.Cell.populated {
  background:black;
}
